body {
  font-family: 'Noto Serif'; font-size: 22px;
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.content {
  margin-bottom: 2rem;
  text-decoration: none;
}

footer {
  font-family: "Noto Sans";
}

h1 {
  font-family: 'Noto Sans', 'Gill Sans', sans-serif;
}

/* Header layout */

.site-header {
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}

.site-branding {
  margin-bottom: 1rem;
}

.site-title {
  margin: 0;
  font-family: 'Noto Sans';
  font-size: 2rem; /* tweak as needed */
}

.site-title a {
  text-decoration: none;
  color: inherit; /* so it uses the <h1> font color */
}

.site-title a:hover {
  text-decoration: underline; /* optional */
}

.site-subtitle {
  margin: 0.25rem 0 0;
  font-family: 'Noto Sans';
  font-size: 1.5rem;
  color: #666;
}

/* Navigation */

.site-nav {
  display: flex;
  justify-content: center;
}

.main-menu {
  display: flex;
  gap: 1.5rem;    /* space between menu items */
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}

.main-menu a {
  text-decoration: none;
  color: #32a852;
}

.content {
  margin-bottom: 2rem;
  text-decoration: none;
  font-family: 'Noto Serif';
}